<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="archivesSpaceApiUri" value="[[API_URL]]" />
    <add key="archivesSpaceUsername" value="[[USERNAME]]" />
    <add key="archivesSpacePassword" value="[[PASSWORD]]" />
  </appSettings>
</configuration>